@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MotorMax</h1>
    <p>El sitio de compra de repuestos que buscabas al precio que necesitás</a>.</p>
</div>
