@model IEnumerable<Repuestos2023.Models.Models.Provincia>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row w-75">
        <div class="col-6">
            <h2>Provinces List</h2>

        </div>
        <div class="col-6 text-end">
            <a asp-controller="Provincia" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp;
                New Province
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped w-75">
        <thead>
            <tr>
                <th style="width:50%">Province Name</th>
                <th style="width:25%">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>
                            <a class="btn btn-warning" asp-controller="Provincia" asp-action="Edit" asp-route-id="@item.ProvinciaId">
                                <i class="bi bi-pencil-square"></i>&nbsp;
                                Edit
                            </a>
                            <a class="btn btn-danger" asp-controller="Provincia" asp-action="Delete" asp-route-id="@item.ProvinciaId">
                                <i class="bi bi-trash3"></i> &nbsp;
                                Delete
                            </a>

                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">
                        No provinces added yet
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

