@using Repuestos2023.Models.Models;
@model Proveedor
@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-controller="Proveedor" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Supplier</h2>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="NombreProveedor" class="form-label"></label>
            <input asp-for="NombreProveedor" class="form-control" />
            <span asp-validation-for="NombreProveedor" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-warning mx-3" style="width:200px">
            <i class="bi bi-floppy"></i> &nbsp;

            Edit
        </button>
        <a asp-controller="Proveedor" asp-action="Index" style="width:200px" class="btn btn-success mx-3">
            <i class="bi bi-backspace"></i>  &nbsp;

            Back to List
        </a>

    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}